* {
    margin: 0px;
    padding: 0px;
}

html {
    zoom: 80%;
  }

/* navbanner starts */

.navbanner {
    height: 976px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* nav Bar */

.navbar {
    margin-top: 63px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.navlinks {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.navlinks>.rectangle {
    position: absolute;
    left: 59px;
    bottom: 15px;
    width: 30px;
    height: 3px;
    background: #DF6951;
    border-radius: 34px;
}

.navlinks>a {
    padding: 10px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
}

.dropdown {
    padding: 10px;
    font-size: 17px;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.op {
    display: none;
    position: absolute;
    margin-top: 0px;
}

.op>.uparrow {
    margin-left: 25px;
    width: 0px;
    height: 0px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 20px solid rgba(255, 255, 255, 0.366);
}

.op>.options {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: rgba(255, 255, 255, 0.355);
    padding: 20px;
    overflow: auto;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.op>.options>a {
    color: white;
    text-decoration: none;
    font-weight: 200;
    letter-spacing: 1px;
    display: block;
}

.getintouch {
    height: 58px;
    width: 152px;
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    border: 0px;
    background-color: #DF6951;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* nav bar ends */

/* banner Starts */

.banner {
    margin-top: 12%;
    width: 80%;
}

.banner>.heading {
    font-size: 59px;
    color: white;
    width: 40%;
    letter-spacing: 1px;
    line-height: 68px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner>.navigation {
    margin-top: 52px;
    color: white;
    font-size: 19px;
    display: inline-flex;
    height: 102px;
    align-items: center;
    background: rgba(243, 243, 243, 0.6);
    backdrop-filter: blur(17.7606px);
    border-radius: 5.22371px;
}

.banner>.navigation>a {
    font-size: 19px;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0px 50px;
}

.banner>.navigation>button {
    margin-right: 20px;
    padding: 16px 57px;
    letter-spacing: 1px;
    font-size: 17px;
    color: white;
    border: 0px;
    background-color: #DF6951;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.banner>.peple {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.banner>.peple>.peoples {

    display: flex;
    align-items: center;
}

.banner>.peple>.peoples>.people {
    height: 36px;
    width: 36px;
    border: 2.09px solid white;
    border-radius: 100%;
    background-color: white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-size: cover;
}

.banner>.peple>.peoples>.people1 {
    /* margin-left: 28px;  */
    background-image: url("../images/people/people1.jpg");
}

.banner>.peple>.peoples>.people2 {
    margin-left: -10px;
    background-image: url("../images/people/people2.jpg");
}

.banner>.peple>.peoples>.people3 {
    margin-left: -10px;
    background-image: url("../images/people/people3.jpg");
}

.banner>.peple>.peoples>.people4 {
    margin-left: -10px;
    background-image: url("../images/people/people4.jpg");
}

.banner>.peple>.peoples>.people5 {
    margin-left: -10px;
    background-image: url("../images/people/people5.jpg");
}

.banner>.peple>.peoples>.people6 {
    margin-left: -10px;
    background-image: url("../images/people/people6.jpg");
    background-position: center;
}

.banner>.peple>.peoples>.people7 {
    margin-left: -10px;
    background-image: url("../images/people/people7.jpg");
}

.banner>.peple>p {
    margin-left: 10px;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
}

/* Scroll animation */

.scroll {
    margin-top: 4%;
    height: auto;
    align-self: flex-start;
    padding-left: 200px;
}

.scroll>.circle {
    margin-left: 10px;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: 1px dotted white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    transition-duration: 5s;
    animation: "dotcircle" 6s infinite;
    -webkit-animation: "dotcircle" 6s infinite;
}

.scroll>.circle2 {
    visibility: hidden;
    animation-delay: 3s;
}

@keyframes dotcircle {
    0% {
        visibility: visible;
    }

    100% {
        opacity: 0;
        transform: scale(10);
        -webkit-transform: scale(10);
        -moz-transform: scale(10);
        -ms-transform: scale(10);
        -o-transform: scale(10);
    }
}

.scroll>p {
    color: white;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1px;
}

/* banner end */

/* navbanner ends */

/* partner start */

.partner {
    background-color: #F7F7F7;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partner>img {
    height: 50px;
    object-fit: cover;
}

/* partner ends */

/* category starts */

.category {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category>h3 {
    color: #DF6951;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.category>h1 {
    padding: 20px;
    color: #181E4B;
    font-size: 50px;
}

.boxs {
    align-self: flex-start;
    margin-left: 8%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 56px;
    width: 64%;
}

.box {
    position: absolute;
    z-index: -1;
    margin-top: 255px;
    height: 100px;
    width: 100px;
    background-color: #DF6951;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.box1,
.box2,
.box3,
.box4 {
    z-index: -1;
    opacity: 0%;
    transition-duration: 1s;
}

.category>.cards {
    width: 80%;
    padding: 10px;
    display: flex;
    column-gap: 90px;

}

.category>.cards>.card {
    width: 100%;
    height: 315px;
    background-color: white;
    transition-duration: 0.5s;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.category>.cards>.card>img {
    object-fit: cover;
    height: 85px;
}

.category>.cards>.card>h2 {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1E1D4C;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 12px;
}

.category>.cards>.card>p {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5E6282;
    line-height: 26px;
    letter-spacing: 1.5px;
    padding: 0px 30px;
    text-align: center;
}

.category>.cards>.card:hover {
    transition-duration: 0.5s;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

/* Category ends */

/* honeymoon starts */

.honeymoon {
    margin-top: 170px;
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}

.honeymoon>.images {
    position: relative;
    width: 35%;
    display: flex;
}


.honeymoon>.images>h1 {
    top: 425px;
    left: -280px;
    position: absolute;
    font-size: 50px;
    letter-spacing: 1px;
    opacity: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: rotate(-90deg);
}

.honeymoon>.images>.img1>img {
    position: absolute;
    top: -40px;
    left: -100px;
    height: 230px;
    width: 230px;
    object-fit: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    animation: "img1anim" 8s infinite;
    -webkit-animation: "img1anim" 8s infinite;
}

@keyframes img1anim {
    0% {}

    30% {
        transform: translate(10px, 10px), ;
        -webkit-transform: translate(10px, 10px), ;
        -moz-transform: translate(10px, 10px), ;
        -ms-transform: translate(10px, 10px), ;
        -o-transform: translate(10px, 10px), ;
        -webkit-transform: translate(10px, 10px), ;
    }

    66% {
        transform: translate(-10px, 5px);
        -webkit-transform: translate(-10px, 5px);
        -moz-transform: translate(-10px, 5px);
        -ms-transform: translate(-10px, 5px);
        -o-transform: translate(-10px, 5px);
    }
}

.honeymoon>.images>.img2>img {
    position: absolute;
    top: 250px;
    left: -160px;
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    animation: "img1anim" 3s infinite;
    -webkit-animation: "img1anim" 3s infinite;
}

.honeymoon>.images>.frame {
    z-index: -1;
    border-radius: 300px 300px 0px 0px;
    top: -25px;
    left: 10px;
    position: absolute;
    height: 710px;
    width: 476px;
    border: 2px solid purple;
    border-bottom: 0px;
    -webkit-border-radius: 300px 300px 0px 0px;
    -moz-border-radius: 300px 300px 0px 0px;
    -ms-border-radius: 300px 300px 0px 0px;
    -o-border-radius: 300px 300px 0px 0px;
}

.honeymoon>.images>.plus {
    z-index: -1;
    position: absolute;
    left: 420px;
    top: 620px;
}

.honeymoon>.images>.plus>p {
    letter-spacing: 8px;
    color: #E5E5E5;
}

.honeymoon>.images>.plus>p>span {
    color: #FF7152;
}

.honeymoon>.content {
    width: 35%;
}

.honeymoon>.content>h3 {
    color: #DF6951;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.honeymoon>.content>h1 {
    color: #181E4B;
    font-size: 50px;
    line-height: 71px;
}

.honeymoon>.content>p {
    padding-top: 20px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 26px;
    letter-spacing: 1px;
}

.honeymoon>.content>button {
    margin-top: 35px;
    padding: 16px 24px;
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    border: 0px;
    background-color: #DF6951;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* honeymoon ends */

/* Booking starts */

.booking {
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.booking>.content {
    width: 35%;
}

.booking>.content>h3 {
    color: #DF6951;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.booking>.content>h1 {
    width: 70%;
    color: #181E4B;
    font-size: 50px;
    line-height: 71px;
}

.booking>.content>.cards>.card {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.booking>.content>.cards>.card1 {
    margin-top: 25px;
}

.booking>.content>.cards>.card>img {
    height: 48px;
    width: 48px;
    object-fit: cover;
}

.booking>.content>.cards>.card>.message {
    margin-left: 20px;
    width: 327px;
}

.booking>.content>.cards>.card>.message>h1 {
    font-size: 16px;
    font-weight: bold;
    color: #5E6282;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.booking>.content>.cards>.card>.message>p {
    font-size: 16px;
    font-weight: 100;
    color: #5E6282;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.booking>.images {
    width: 35%;
}

/* main card starts */

.booking>.images>.maincard {
    background-color: white;
    position: relative;
    width: 370px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    display: flex;
    flex-direction: column;
}

.booking>.images>.maincard>img {
    margin: 20px 25px;
    object-fit: cover;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
}

.booking>.images>.maincard>h1 {
    margin-left: 25px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #080809;
}

.booking>.images>.maincard>h3 {
    margin: 10px 25px;
    color: #84829A;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.booking>.images>.maincard>.icons {
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.booking>.images>.maincard>.icons>.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    background-color: #F5F5F5;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.booking>.images>.maincard>.interested {
    margin: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking>.images>.maincard>.interested>.message {
    display: flex;
    column-gap: 10px;
}

.booking>.images>.maincard>.interested>.message>h3 {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    color: #84829A;
}

/* main card ends */

/* subcard starts */

.booking>.images>.maincard>.subcard {
    position: absolute;
    bottom: 50px;
    left: 60%;
    background: white;
    width: 263px;
    display: flex;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 18px;
    padding: 20px;
}

.booking>.images>.maincard>.subcard>img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.booking>.images>.maincard>.subcard>.message {
    margin-left: 15px;
}

.booking>.images>.maincard>.subcard>.message>h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    letter-spacing: -0.035em;
    color: #84829A;
}

.booking>.images>.maincard>.subcard>.message>h1 {
    margin-top: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    letter-spacing: -0.015em;
    color: #080809;
}

.booking>.images>.maincard>.subcard>.message>h4 {
    margin-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    letter-spacing: -0.055em;

}

.booking>.images>.maincard>.subcard>.message>h4>span {
    color: #DF6951;
}

.booking>.images>.maincard>.subcard>.message>progress {
    margin-top: 5px;
    accent-color: coral;
    outline-color: white;
}

/* subcard ends */

/* plane image */

.booking>.images>.maincard>.plane {
    bottom: 130px;
    left: 70px;
    width: 690px;
    height: auto;
    position: absolute;
    overflow: hidden;
    z-index: -2;
}

/* circle blur */

.booking>.images>.maincard>.circle {

    position: absolute;
    width: 354px;
    height: 367px;
    z-index: -1;
    background: #59B1E6;
    opacity: 0.8;
    filter: blur(75px);
}

.booking>.images>.maincard>.plus {
    z-index: -1;
    position: absolute;
    bottom: -50px;
    left: -50px;
}

.booking>.images>.maincard>.plus>p {

    font-size: 22px;
    color: #9b9b9b;
    letter-spacing: 15px;

}

.booking>.images>.maincard>.plus>p>span {
    color: #DF6951;
}

/* booking ends */

/* holiday banner starts */

.holidaybanner {
    height: 400px;
    background-image: url("../images/holidaybanner/banner.jpg");
    background-size: cover;
    background-position: 0% 22%;
    display: flex;
    align-items: center;
    position: relative;

}

.holidaybanner>h1 {
    margin-left: 20%;
    width: 560px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.holidaybanner>img {
    position: absolute;
    height: 41px;
    width: 312px;
    left: 35%;
    top: 65%;
}

/* holiday banner ends */

/* promotion starts */

.promotion {
    margin-top: 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.promotion>.content {
    width: 35%;
    position: relative;
}

.promotion>.content>h3 {
    color: #DF6951;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.promotion>.content>h1 {
    width: 580px;
    color: #181E4B;
    font-size: 50px;
    line-height: 71px;
}

.promotion>.content>p {
    width: 520px;
    padding-top: 20px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 26px;
    letter-spacing: 1px;
}

.promotion>.content>button {
    margin-top: 35px;
    padding: 16px 24px;
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    border: 0px;
    background-color: #DF6951;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.promotion>.content>.cards {
    margin-top: 60px;
    display: flex;
    z-index: 2;
    column-gap: 56px;
    position: absolute;
}

.promotion>.content>.cards>.card {
    height: 237px;
    width: 231px;
    background-color: #181E4B;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: start;
}

.promotion>.content>.cards>.card>p {
    margin: 15px;
    display: inline;
    padding: 4px 15px;
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #DF6951;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.promotion>.content>.cards>.card1 {
    background-image: url("../images/promotion/card1.jpg");
    background-size: cover;
}

.promotion>.content>.cards>.card2 {
    background-image: url("../images/promotion/card2.jpg");
    background-size: cover;
}

.promotion>.content>.cards>.card3 {
    background-image: url("../images/promotion/card3.jpg");
    background-size: cover;
}

.promotion>.content>.cards>.card4 {
    background-image: url("../images/promotion/card4.jpg");
    background-size: cover;
}

.promotion>.images {
    position: relative;
    width: 35%;
    display: flex;
    justify-content: end;
}

.promotion>.images>h1 {
    top: 425px;
    right: -260px;
    position: absolute;
    font-size: 50px;
    letter-spacing: 1px;
    opacity: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: rotate(-90deg);
}

.promotion>.images>.frame {
    z-index: -1;
    border-radius: 300px 300px 0px 0px;
    top: -25px;
    right: 10px;
    position: absolute;
    height: 710px;
    width: 476px;
    border: 2px solid purple;
    border-bottom: 0px;
    -webkit-border-radius: 300px 300px 0px 0px;
    -moz-border-radius: 300px 300px 0px 0px;
    -ms-border-radius: 300px 300px 0px 0px;
    -o-border-radius: 300px 300px 0px 0px;
}

/* Promotion ends */

/* explore starts */

.explore {
    margin-top: 200px;
    display: flex;
    height: 400px;
}

.explore>.nature {
    height: 100%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/explore/nature.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explore>.cities {
    height: 100%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/explore/city.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.explore h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
    color: #FFEFEC;
}

.explore h1 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 71px;
    color: #FFFFFF;
}

.explore button {
    margin-top: 20px;
    padding: 16px 24px;
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    border: 1.5px solid white;
    background-color: #df695100;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* explore ends */

/* Trendy */

.trendy {
    width: 100%;
    margin-top: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trendy>h3 {
    color: #DF6951;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.trendy>h1 {
    width: 580px;
    color: #181E4B;
    font-size: 50px;
    line-height: 71px;
    text-align: center;
}

.trendy>.cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    width: 100%;
}

.trendy>.cards>.card {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.trendy>.cards>.card>.image {
    position: relative;
}

.trendy>.cards>.card>.image>.flag {
    position: absolute;
    bottom: -38px;
    left: 30px;
    height: 76px;
    width: 76px;
    object-fit: cover;
    border: 6px solid white;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: inset -4px 11px 18px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(6px 14px 27px rgba(0, 0, 0, 0.15));
}

.trendy>.cards>.card>.image>.bg {
    height: 312px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.trendy>.cards>.card>.daynpeople {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 38px;
}

.trendy>.cards>.card>.daynpeople>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.8085px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #7D7D7D;
}

.trendy>.cards>.card>.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trendy>.cards>.card>.name>h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
    font-size: 29.0329px;
    line-height: 50px;
    color: #2F2F2F;
}

.trendy>.cards>.card>.location {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.trendy>.cards>.card>.location>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16.8085px;
    line-height: 25px;
    color: #7D7D7D;
}

.trendy>.cards>.card>.cost {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 29.0329px;
    line-height: 44px;
    color: #DF6951;
}

.trendy>.cards>.card>.cost>span {
    text-decoration: line-through;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #7D7D7D;
}

.trendy>.cards>.card>p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12.2244px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
}

.trendy>.cards>.card>button {
    margin-top: 25px;
    padding: 16px 24px;
    border: 0px;
    width: 135px;
    background-color: #DF6951;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 12.7713px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.6px;
}

/* Trendy ends */

/* clientpromotion starts */

.clientpromotion {
    margin-top: 110px;
    /* padding-top: 110px; */
    width: 100%;
    height: 770px;
    background-image: url(../images/clientpromotion/bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.clientpromotion>h3 {
    margin-top: 125px;
    color: #DF6951;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.clientpromotion>h1 {
    width: 580px;
    color: #181E4B;
    font-size: 50px;
    line-height: 71px;
    text-align: center;
}

.clientpromotion>.card {
    margin-top: 90px;

    position: relative;
    width: 538px;
    height: 277px;
    background: #FFFFFF;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    row-gap: 10px
}

.clientpromotion>.card>.image {
    position: absolute;
    left: 0;
    right: 0;
    top: -70px;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 120px;
    border: 6px solid #FFFFFF;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: 6px 14px 27px rgba(0, 0, 0, 0.15), inset -4px 11px 18px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.clientpromotion>.card>.uparrow {
    top: 60px;
    left: 50px;
    position: absolute;
    font-size: 70px;
    opacity: 20%;

}

.clientpromotion>.card>.downarrow {
    right: 37%;
    bottom: 75px;
    position: absolute;
    font-size: 12px;
}

.clientpromotion>.card>p {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12.2244px;
    line-height: 24px;
    width: 393px;
    letter-spacing: 0.05em;

}

.clientpromotion>.card>h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.2244px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}

.clientpromotion>.card>.arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.clientpromotion>.card>.arrows>i {
    position: absolute;
    font-size: 40px;
    box-shadow: 0px 20px 35px rgba(115, 115, 115, 0.15);
    color: #737373;
}

.clientpromotion>.card>.arrows>.right {
    right: -20px;
}

.clientpromotion>.card>.arrows>.left {
    left: -20px;
}

.clientpromotion>img {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* clientpromotion ends */

/* footer starts */

.footer {
    height: 484px;
    background: url(../images/footer/Footer\ img.png) no-repeat right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.footer>.content {
    margin-bottom: 60px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.footerheading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #181433;
    letter-spacing: 1px;
}

.info .company .destination,
li {
    margin-top: 12px;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #181433;
}


.footer>.content>.info>img {
    height: 64px;
    padding-top: 10px;
}

.footer>.content>.info>p {
    width: 213px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #757095;
}

.footer>.content>.info>.icons {
    margin-top: 28px;
    display: flex;
    column-gap: 16px;
}

.footer>.content>.info>.icons>i {
    color: #DF6951;
    font-size: 20px;
}

.footer>.content>.newsletter>p {
    width: 329px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #181433;
    opacity: 0.5;
}

.footer>.content>.newsletter>.inputs {
    margin-top: 24px;
    margin-bottom: 21px;
    position: relative;
}

.footer>.content>.newsletter>.inputs>input {
    width: 389px;
    padding: 16px 24px;
    font-size: 16px;
    background: #EEEEFF;
    border: 0px;

}

.footer>.content>.newsletter>.inputs>input::placeholder {
    opacity: 0.5
}

input:focus {
    outline: none;
}

.footer>.content>.newsletter>.inputs>button {
    right: 0px;
    position: absolute;
    padding: 16px 24px;
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    border: none;
    background-color: #DF6951;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.footer>h1 {
    width: 70%;
    border-top: 1px solid rgba(0, 0, 0, 0.366);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100px;
    letter-spacing: -0.02em;

    color: #181433;


}